@inherits LayoutComponentBase
@inject NavigationManager Nav
@inject IJSRuntime JS

<div class="flex w-full h-screen overflow-hidden">
    <div class="w-2/12 bg-gray-100 border-r-1 border-gray-200 h-full overflow-y-auto">
        <NavMenu />
    </div>

    <main class="w-10/12  h-full overflow-y-auto">
        <article class="flex-column w-full px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine($"[MFE] OnAfterRenderAsync firstRender=true, URI={Nav.Uri}");
           
            try
            {
                var path = Nav.ToBaseRelativePath(Nav.Uri);
                Console.WriteLine($"[MFE] Llamando notifyShellNavigation con path={path}");
                await JS.InvokeVoidAsync("notifyShellNavigation", path);
                Console.WriteLine($"[MFE] notifyShellNavigation ejecutado OK");
            }
            catch (Exception ex)
            {
                Console.WriteLine($"[MFE] Error al invocar JS: {ex.Message}");
            }

            Nav.LocationChanged += OnLocationChanged;
        }
    }

    private async void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        var relativePath = Nav.ToBaseRelativePath(e.Location);
        Console.WriteLine($"[MFE] LocationChanged: {relativePath}");
        await NotifyParent(relativePath);
    }

    private async Task NotifyParent(string path)
    {
        try
        {
            await JS.InvokeVoidAsync("notifyShellNavigation", path);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"[MFE] Error NotifyParent: {ex.Message}");
        }
    }

    public void Dispose()
    {
        Nav.LocationChanged -= OnLocationChanged;
    }
}