<div class="p-2 border-b-2 border-gray-200 mx-2">
    <div class="flex">
        <a class="text-green-600 font-bold text-lg" href="">Inicio</a>
    </div>
</div>

<div class="mt-2">
    <div class="ps-4 mb-2">
        <span class="text-xs text-gray-400">Menú</span>
    </div>
    <nav class="flex flex-col gap-1">
        <div class="px-3 flex">
            <NavLink class="text-black text-sm p-2 rounded-md hover:bg-gray-200 flex w-full"
                href="" 
                ActiveClass="bg-gray-200 text-black rounded-md"
                Match="NavLinkMatch.All"
            >
                Principal
            </NavLink>
        </div>

        <div class="px-3 flex">
            <NavLink 
                class="text-black text-sm p-2 rounded-md hover:bg-gray-200 flex w-full" 
                href="security"
                ActiveClass="bg-gray-200 text-black rounded-md"
            >
                Seguridad
            </NavLink>
        </div>

        <div class="px-3 flex">
            <NavLink 
                class="text-black text-sm p-2 rounded-md hover:bg-gray-200 flex w-full" 
                href="settings"
                ActiveClass="bg-gray-200 text-black rounded-md"
            >
                Configuración
            </NavLink>
        </div>
    </nav>
</div>